
/*start of work*/

body {
    background-color: #441E13;
    
    color: white
}

div {
    /* outline: 0px solid yellow; n*/
}

.logo {
    width: 250px;
    float: left;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.slogan {
    width: 380px;
    float: left;
    color: #a37b71;
    font-family: sans-serif;
    font-size: 0.9rem;
    margin-top: 18px;
    
}

.logocontainer {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    overflow: hidden; /* make the div grow to accommodate float child elements */
}

.nav {
    background-color: rgba(0,0,0,0.25);
    height: 62px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 920px;
}

.nav ol {
    padding: 18px 10px;
}

.nav li {
    border-right: 1px solid #D4B364;
    display: block;
    float: left;
    font-family: sans-serif;
    padding: 6px 20px;
}

.nav ol li:last-child {
    border-right: none;
}

.container_1 {
    background-color:#87a984;
    margin: auto;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    height: 215;
}

.logo_2 {
    float: left;
    width: 200px;
    height: 215px;
}

.about {
    float: left;
    width: 720;
    height: 215px;
    text-decoration-color: white;
    font-family: sans-serif;
    
}

.container_2 {
    background-color:#ed0eb6;
     margin: auto;
     width: 920px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 15px;
     height: 600px;
     
}

.nav_2{
    background-color:#96afac;
    float: left;
    width: 200px;
    height: 600px;
    padding-top: 10px;
}

.nav_2 div {
    border-bottom: 1px solid #D4B364;
    display: block;
    font-family: sans-serif;
    padding: 5px 5px 5px 5px;
    margin-left:30px;
    margin-right: 30px;
    margin-top: 5px;
    font-weight: 700;
}


.how {
    width: 720px;
    height: 600px;
    background-color:#dbd8c5;
    float: left;
    padding-top: 10px;
}